services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.production
    env_file:
      - .env
    ports:
      - '3000:3333'
    depends_on:
      - db
      - redis
    restart: unless-stopped

  db:
    image: postgres:16-alpine
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      TZ: America/Sao_Paulo
    ports:
      - '3001:5432'

  redis:
    image: redis:7-alpine
    env_file:
      - .env
    volumes:
      - redis_data:/data
    environment:
      - TZ=America/Sao_Paulo
    ports:
      - '3002:6379'

volumes:
  postgres_data:
  redis_data:
